@model ControlePedidos.Aplicacao.ViewModels.PedidoViewModel

@{
    ViewBag.Title = "CadastrarPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cadastrar Pedido</h3>
                    </div>
                    <div class="form-horizontal col-md-11">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-md-7">
                                    <input autofocus="autofocus" class="form-control input-lg" id="txtNome" name="NomeCliente" placeholder="Nome" type="text" value="@Model.Cliente.Nome">
                                    @Html.HiddenFor(model => model.ClienteId, new { @id = "hdnClienteId" })
                                    <input type="hidden" id="hdnProdutoId"  value="@Model.PedidoId"/>
                                    <input type="hidden" id="hdnPedidoId" value="@Model.PedidoId" />
                                    <input type="hidden" id="hdnPreco" />
                                </div>
                                <div class="col-md-3">
                                    <a href="#" id="btnBuscaCliente" class="btn btn-lg btn-success" data-toggle="tooltip" data-placement="top" title="Buscar cliente"><i class="glyphicon glyphicon-search"></i>&nbsp;Buscar Cliente</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    <input class="form-control input-lg" id="txtCidade" name="Cidade" placeholder="Cidade" type="text" value="@Model.Cliente.CidadeNome">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control input-lg" id="txtBairro" name="Bairro" placeholder="Bairro" type="text" value="@Model.Cliente.Bairro">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5">
                                    <input class="form-control input-lg" id="txtLogradouro" name="Rua" placeholder="(Rua, Trav, Av..)" type="text" value="@Model.Cliente.Rua">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control input-lg" id="txtNumero" name="Complemento" placeholder="Número, lote, quadra" type="text" value="@Model.Cliente.Numero">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.DataEntrega, new { @class = "form-control input-lg", @placeholder = "Data de entrega", @id = "datepicker" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.Frete, new { @class = "form-control input-lg", @placeholder = "Frete", @id = "txtFrete", @onKeyup = "formatarMoeda(this);" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" id="txtResultProduto" class="form-control input-lg" placeholder="Digite o nome do produto" />
                                </div>
                                <div class="col-md-3">
                                    <a href="#" id="btnBuscaProduto" class="btn btn-lg btn-success" data-toggle="tooltip" data-placement="top" title="Buscar produto"><i class="glyphicon glyphicon-search"></i>&nbsp;Buscar Produto</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <input type="text" id="txtQTD" class="form-control input-lg" placeholder="QTD" />
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="btn btn-lg btn-success" onclick="AddTableRow(this);" type="button"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                            </div>

                            <div class="form-group" id="dvTabProdutos">
                                <div class="col-md-10">
                                    <div class="box-body table-responsive no-padding">
                                        <div id="dvItensPedidos"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="#" class="btn btn-lg btn-success" id="btnSalvar" type="button"><i class="glyphicon glyphicon-plus"></i> Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("_modal")


<script src="~/Scripts/Pedido/Pedidos.js"></script>
<script src="~/Scripts/ItemPedido/itemPedido.js"></script>
<script type="text/javascript" src="~/Scripts/Funcoes/NumberFormat154.js"></script>
<script src="~/Scripts/Funcoes/funcoes.js"></script>