@model ControlePedidos.Aplicacao.ViewModels.OrcamentoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Editar", "Orcamento", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-horizontal col-md-12">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class=" box-header with-border">
                        <h3 class="box-title">Cadastrar Orçamento</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.NomeCliente, new { @class = "form-control input-lg", @placeholder = "Nome", @id = "txtNomeCliente", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", @placeholder = "E-mail", @id = "txtemail" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-5">
                                @Html.TextBoxFor(model => model.Celular, new { @class = "form-control input-lg", @placeholder = "Celular", @id = "txtCelular" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(model => model.TelFixo, new { @class = "form-control input-lg", @placeholder = "Telefone fixo", @id = "txtFixo" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                <input type="text" id="txtResultProduto" class="form-control input-lg" placeholder="Digite o nome do produto" />
                            </div>
                            <div class="col-md-3">
                                <a href="#" id="btnBuscaProduto" class="btn btn-lg btn-success" data-toggle="tooltip" data-placement="top" title="Buscar produto"><i class="glyphicon glyphicon-search"></i>&nbsp;Buscar Produto</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="text" id="txtQTD" class="form-control input-lg" placeholder="QTD" />
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="btn btn-lg btn-success" onclick="AddTableRow(this);" type="button"><i class="glyphicon glyphicon-plus"></i></a>
                            </div>

                        </div>
                        <div class="form-group" id="dvTabProdutos">
                          <div class="col-lg-12">
                              <div id="dvItens">

                              </div>

                          </div>
                        </div>
                        <input type="hidden" id="hdnPreco" />
                        <input type="hidden" id="hdnProdutoId" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <div class="col-md-offset-4 col-md-10">
            <a class="btn btn-danger btn-lg" href="@Url.Action("Index","Processo")">Cancelar</a>
            <a href="#" id="btnSalvar" class="btn btn-primary btn-lg">Salvar</a>
        </div>
    </div>



}

@Html.Partial("_modalBuscaProduto")
<script src="~/Scripts/ItemOrcamento/itemOrcamento.js"></script>