@model  IEnumerable<ControlePedidos.Aplicacao.ViewModels.ClienteViewModel>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <div class="col-md-offset-1 col-md-10">
                    @if (Model.Count() == 0)
                    {
                        <div class="alert alert-info  alert-dismissable">
                            <i class="fa fa-info"></i>
                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                            Nenhum registro encontrado
                        </div>
                    }
                    else
                    {
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cep)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Bairro)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CidadeNome)
                                    </th>
                                    <th></th>
                                </tr>
                            </tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                        @Html.HiddenFor(modelItem => item.ClienteId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cep)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bairro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CidadeNome)
                                    </td>

                                    <td>
                                        <a href="#" data-id="@item.ClienteId" data-nome="@item.Nome" id="lnkExcluir" class="excluirCliente" title="Excluir"><i class="glyphicon glyphicon-trash"></i>Excluir</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_msgModal")


